nav img {
  height: 40px;
}

#navbarCollapse ul li a:hover {
  transform: scale(110%);
  text-shadow: 4px 4px 4px rgb(138, 110, 8);
}

.h1 {
  font-size: 2rem;
}

#carouselInterval,
#carousel-aside {
  margin-top: 100px;
}

main {
  scroll-margin-top: 100px;
}

p {
  text-align: justify;
  color: aliceblue;
}

h1 {
  color: hotpink;
}

h2 {
  color: rgb(223, 183, 241);
}

h3 {
  text-align: center;
  color: aqua;
}
/* El footer tiene una imagen de background con una sombra y escala de grises para que tenga buen contraste con el texto y los iconos */
footer section {
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/mexican-day.jpg");
  filter: grayscale(50%);
}

footer img {
  width: 50px;
  filter: drop-shadow(8px 8px 16px rgb(1, 1, 54)) grayscale(80%)
    brightness(120%);
}

footer img:hover {
  filter: drop-shadow(16px 16px 32px rgb(0, 0, 14)) grayscale(0);
  width: 60px;
}
/* Como tiene aplicado flex, defino un tamaño de li que me deje aumentar de tamaño los iconos y 
que no se muevan */
footer li {
  list-style: none;
  width: 60px;
  height: 60px;
}
