nav img {
  height: 40px;
}

.h1 {
  font-size: 2rem;
}

#carouselInterval {
  margin-top: 100px;
}

main {
  scroll-margin-top: 100px;
}

p {
  text-align: justify;
  color: aliceblue;
}

h1 {
  color: hotpink;
}

h2 {
  color: rgb(223, 183, 241);
}

h3 {
  text-align: center;
  color: aqua;
}

footer section {
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../img/mexican-day.jpg");
}
